<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/appointTable.css">
</head>

<body style="height: 50rem;">
  <a class="user-btn" href="">Add Company</a>
  <table class="styled-table">
    <caption style="margin-bottom: .8rem;">Tour Users</caption>
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Company Description</th>
        <th>Contacts</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% tours.forEach((tour)=>{ %>
      <tr>

        <td><%=tour.company_nm%></td>
        <td><%=tour.company_des%></td>
        <td><%=tour.contact_info%></td>
        <td>
          <a href="/tourtable/edit/<%=tour.id%>">Edit</a>
          <a href="/tourtable/delete/<%=tour.id%>">Delete</a>
        </td>
      </tr>
      <% }) %>

    </tbody>
  </table>
</body>

</html>