<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/appointTable.css">
</head>

<a class="user-btn" href="">Add user</a>
<table class="styled-table">
  <caption style="margin-bottom: .8rem;">Tour Users</caption>
  <thead>
    <tr>
      <th colspan="2">Tour Representative</th>
      <th>Company</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user)=>{ %>
    <tr>
      <td><%=user.user_fname%></td>
      <td><%=user.user_lname%></td>
      <td><%=user.company_nm%></td>
      <td><%=user.email%></td>
      <td>
        <a href="tourUsers/edit/<%=user.id%>">Edit</a>
        <a href="tourUsers/delete/<%=user.id%>">Delete</a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

</body>

</html>