<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/testForm.css">
  <script src="/scripts/cal.js"></script>
</head>

<body onload="priceCal()">
  <div class="reserve-form">
    <form action="/tourbook/add" method="post">
      <label class="vouch-title"> Voucher NO.</label><input class="voucher_num" name="voucher_num" type="text" value="<%=voucher_num%>">
      <input type="hidden" value="<%=tourInfo[0].id%>" name="comp_id">
      <div class="userInfo">
        <div class="name">
          <label for="">First Name</label>
          <input type="text" name="guest_fn" value="">
          <label for="">Party Number</label>
          <input type="text" id="gQty" onkeyup="priceCal()" name="guest_num" value="2">
        </div>
        <div class="name2">
          <label for="">Last Name</label>
          <input type="text" name="guest_ln" value="">

          <label for="">Select Your Date</label>
          <input type="date" name="excur_date" value="">
        </div>
      </div>
      <label for="">Location</label>
      <select name="hot_id">
        <% hotels.forEach((hotel)=>{ %>
        <option value="<%=hotel.hot_id%>"><%=hotel.hotel%></option>
        <%})%>
      </select>

      <label for="">Payment Type</label>
      <select name="type_id">
        <% paymentTypes.forEach((paymentType)=>{ %>
        <option value="<%=paymentType.type_id%>"><%=paymentType.payment_type%></option>
        <% }) %>
      </select>

      <label for="">Select Programme</label>
      <select id="prgm" name="pro_id" onchange="priceCal()">
        <option disabled value="">Select Programme</option>
        <% programmes.forEach((programme)=>{ %>
        <option id="pro_opt" value="<%=programme.pro_id%>" data-pro_price="<%=programme.pro_price%>"><%=programme.pro_nm%></option>
        <% }) %>
      </select>

      <label for="" class="total">Payment Total</label>
      <input type="text" class="total_input" id="total_price" readonly name="total_payment">


      <button class="btn" type="submit">Book Now</button>
      <div class="acc">
        <i class="pic"><img src="https://www.dolphincoveja.com/Booking/Img/american_express.png" alt=""></i>
        <i class="pic"><img src="https://www.dolphincoveja.com/Booking/Img/visa.png" alt=""></i>
        <i class="pic"><img src="https://www.dolphincoveja.com/Booking/Img/Paypal_credit.png" alt=""></i>
        <i class="pic"><img src="https://www.dolphincoveja.com/Booking/Img/mastercard.png" alt=""></i>
      </div>
    </form>
  </div>
</body>





</html>